body{
    background-color: #F1D7A6;
}
p{
    color: #702222;
}

hr {
  width: 70%;
  margin-left: 12%;
  border: none;
  height: 2px;
  background: #81735a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1.5);
}
#logo-header img {
    display: flex;
  margin-left: 12%;
  width: 80px;
  height: auto;
}

.navigation_social {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    color:#702222;
    align-items: center;
    padding: 10px 20px;
}
 
.navigation_social svg {
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: all 0.5s;
 
}
 
.navigation_social svg:hover {
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer;
    color:#4e1818cc;
}

.conteudo{
    margin-left: 70px;
    width: 50%;
    justify-content: center;
    background-color: #70222252;
}
p {
    align-items: cen ;

}