body{
    background-color: #F1D7A6;
}
p{
    color: #702222;
}

hr{
  width: 70%;
  margin-left: 12%;
  border: none;
  height: 2px;
  background: #81735a;
  box-shadow: 0 2px 5px rgba(112, 34, 34, 1.8);
}

#logo-header img {
  display: block;
  margin-left: 600px;
  width: 80px;
  height: auto;
}

.navigation_social {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    color:#702222;
    align-items: center;
    padding: 10px 20px;
}
 
.navigation_social svg {
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: all 0.5s;
 
}
 
.navigation_social svg:hover {
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer;
    color:#4e1818cc;
}


/*Estilizacao para o envelope responsivo */
  .envelope-container {
    width: 300px;
    height: 150px;
    position: relative;
    margin: 40px;
    perspective: 1000px;
    rotate: 20deg;
  }

  .envelope {
    width: 100%;
    height: 100%;
    background: #641313; 
    position: relative;
    transition: transform 0.6s ease;
    transform-origin: bottom;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
  } 

  
  .envelope::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: #641313;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    clip-path: polygon(0 0, 50% 70%, 100% 0);
    transition: transform 0.6s ease;
    transform-origin: top center;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    z-index: 4;
  }

  .envelope-container:hover .envelope::before {
    transform: rotateX(-150deg);
  }

  #paper {
    width: 90%;
    height: 120px;
    background: #b39c79;
    position: absolute;
    top: 10px;
    left: 5%;
    z-index: -1;
    border-radius: 5px;
    transition: transform 0.5s ease;
  }

  .envelope-container:hover #paper {
    transform: translateY(-60px);
    transform: translatex(60px);
  }

  #paper:active {
    transform: translateY(-100px) rotate(-2deg);
    transition: transform 0.3s ease;
  }

  #cartao{
    margin-left: 5px;
    margin-top: -120px;
  }

  #ev-red{
    margin-left: 25%;
    margin-top: -150px;

  }